<style>

table {
	border-collapse: collapse;
    border-spacing:0;
}
td {
	border: solid 1px;
	padding: 0.5em;
}
input {
    background: #e0e0e0;
    width: 100%;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    text-align: center;
    background: #e0e0e0;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.myBtn {
    background-color: #4CAF50;
}
.enBtn {
    background-color: #f44336;
}
.actBtn {
    background-color: #008CBA;
}
button {
    color: #fff;
    margin: 10px auto;;
    height: 50px;
    width: 90px;
    background-color: #008CBA;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 0 #808080;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.next.pushed {
    margin-top: 32px;
    box-shadow: 0 2px 0 #000;
}
</style>
